src/main/java/gen/TestService.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema version="1.0"
           targetNamespace="http://kz.sergeyshapov/user"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://kz.sergeyshapov/user"
           elementFormDefault="qualified">
    <xs:element name="user" type="tns:UserDDD"/>
    <xs:element name="userResponse" type="tns:UserResponse"/>

    <xs:complexType name="UserDDD">
        <xs:sequence>
            <xs:element id="name" name="name" type="xs:string" minOccurs="1" maxOccurs="1" nillable="false"/>
            <xs:element id="age" name="age" type="xs:int" minOccurs="1" maxOccurs="1" nillable="false"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getUser">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UserDDD" type="tns:UserDDD"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="UserResponse">
        <xs:sequence>
            <xs:element id="userId" name="userId" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>